*.md
*.pyc
*.log
*~
*.json


Central Unit/bin/*
Central Unit/bin_remote/*
Central Unit/data/*
Central Unit/misc/*
__pycache__/*
Central Unit/template/*
Central Unit/tools/*
Arduino/blink/*
Arduino/testComm/*
Arduino/testMotors/*

